<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title }}{% if page.title %} | {{ page.title }}{% endif %}</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ "/assets/css/custom.css" | relative_url }}">
  {%- feed_meta -%}
  {%- seo -%}
</head>
<body>
  <div class="container">
    <header>
      <h1 class="site-title">{{ site.title }}</h1>
      <nav class="navbar">
        <a href="{{ '/' | relative_url }}">Home</a>
        <a href="{{ '/blogs' | relative_url }}">Blogs</a>
        <a href="{{ '/research-notes' | relative_url }}">Research Notes</a>
      </nav>
    </header>
    <main>
      {{ content }}
    </main>
    <footer>
      &copy; {{ site.time | date: '%Y' }} CHNN &mdash; <a class="footer-x-link" href="https://x.com/henri_nguembi" target="_blank">X</a>
    </footer>
  </div>
</body>
</html> 